<div>
  <h2>Hello, {{userData.name}} <p><a [routerLink]="['/login']">Logout</a></p></h2>

  <h2>Lock Manager</h2>
  <div class="well big-font">
    <lock-manager [data]="userData.locks" (lockDelete)="onLockDelete($event)" (lockAdd)="onLockAdd($event)"></lock-manager>
  </div>

  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirm the action</h4>
        </div>
        <div class="modal-body">
          Are you sure?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="onLockDeleteCancel()">No</button>
          <button type="button" class="btn btn-default" (click)="onLockDeleteConfirm()">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>
